:root{
    --bg-color: rgb(238, 238, 238);
    --bg-yellow: rgb(246, 203, 78);
    --light-text-col: rgb(238, 238, 238);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}
  
  
body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: var(--bg-color);
}

h1, h2, h3 , h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation bar */
.custom-nav{
    width: 100%;
    background-color: rgb(0, 0, 0) !important;
    padding: 16px 32px;
}
.custom-nav a{
    color: white !important;
}
.custom-nav .logo {
    text-transform: uppercase !important;
    letter-spacing: 2px;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}
.navbar-nav a{
    color: white !important;
    padding-left: 32px !important;
    font-size: 18px;
}
.navbar-nav a:hover{
    color: var(--bg-yellow) !important;
}
.navbar-brand img{
    width: 75px;
    margin-right: 15px;
}  


/* Hero section - Jumbotron */
.jumbotron{
    background-color: var(--bg-yellow);
    text-align: center;
    padding-top: 80px;
}
.jumbotron h1{
    font-size: 30px;
    font-weight: 600;
    padding-top: 25px;
}
.jumbotron p{
    font-size: 16px;
}
div.jumbotron{
    padding: 0;
}
.custom-button{
    border: solid 1px;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: var(--bg-color);
    margin: 15px 0 30px 0px;
    color: black;
}
.jumbotron img{
    height: 350px;
    margin-bottom: 40px;
}
.custom-button:hover{
    background-color: rgb(149, 140, 246);
    border: 1px solid black;
    box-shadow: 3px 5px black;
}
.custom-button:active{
    background-color: var(--bg-yellow) !important;
    border: none;
}

/* About me */
.about-content{
    background-color: rgb(149, 140, 246);
    display: flex;
    align-items: center;
    position: relative;
    bottom: 32px;
}
.about-sec{
    padding: 25px;
    display: flex;
    align-items: center;
}
.bio{
    color: white;
}
.bio h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    padding-top: 20px;
}
.my-img img{
    width: 85%;
}
.button-about:hover{
    background-color: var(--bg-yellow);
}
.button-about:active{
    background-color: var(--bg-yellow) !important;
    border: none;
}


/* Portfolio */
.port-content{
    background-color: var(--bg-color);
    text-align: center;
    padding: 0 50px;
}
.port-heading{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 40px 0 15px 0;
    text-align: center;
}
.projects{
    padding: 0px 0 30px 0;
}
.card-body{
    border-radius: 0 0 10px 10px;
}
.opacity-50{
    background-color: (255, 255, 255, 0.5);
}
.card-container{
    text-align: center;
    margin: 10px 0 35px 0;
    cursor: pointer !important;
}
.card-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
}
.card-text{
    font-size: 15px;

}
.card{
    border: 1px rgb(137, 90, 199) solid;
    border-radius: 10px;
}
.card img{
    border-radius: 10px 10px 0 0;
}
.button-port{
    margin-top: -35px;
    border: solid 1px;
    margin-bottom: 70px;
}
.button-port:active{
    background-color: var(--bg-yellow) !important;
    border: none;
}


/* Contact section */
.contact-sec{
    padding: 50px;
    border-top: 1px solid black;
}
.contact-heading{
    font-weight: 600;
    margin-bottom: 10px;
}
.para-contact{
    font-size: 18px;
    margin-bottom: 50px;
    padding-right: 50px;
}
.connect h6{
    font-size: 14px;
    color: rgb(126, 126, 126);
}
.prof-links{
    padding-left: 0;
    margin-bottom: 15px;
}
.prof-links h6{
    margin-bottom: 5px;
}
.social-links{
    padding-left: 0;
    margin-bottom: 50px;
}
.social-links h6{
    margin-bottom: 5px;
}
.prof-links a{
    text-decoration: none;
}
.social-links a{
    text-decoration: none;
}
.prof-links a:active{
    background-color: var(--bg-yellow) !important;
    border: none;
}
.prof-links a:visited{
    background-color: var(--bg-yellow) !important;
    border: none;
}

    /* Links in contact section */
.prof-link button{
    background-color: black;
    text-decoration: none;
    color: white;
}
.prof-link button:hover{
    background-color: var(--bg-yellow);
    color: black;
    box-shadow: 3px 5px black;
}
.btn:focus {
    outline: none;
    box-shadow: none;
  }

.button-contact:visited{
    background-color: var(--bg-yellow) !important;
    border: none;
}

    /* social icons */
.fa-square-instagram{
    color: black;
}
.fa-facebook-square{
    color: black;
}
.fa-twitter-square{
    color: black;
}
.fa-square-instagram:hover{
    box-shadow: 2px 2px 2px rgb(246, 203, 78);
}
.fa-facebook-square:hover{
    box-shadow: 2px 2px 2px rgb(246, 203, 78);
}
.fa-twitter-square:hover{
    box-shadow: 2px 2px 2px rgb(246, 203, 78);
}


    /* Form in contact section */
.contact-form{
    background-color: black;
    padding: 50px 26px;
}
.button-form{
    background-color: var(--bg-color);
    color: black;
}
.button-form:hover{
    background-color: var(--bg-yellow);
    color: black;
    border: 1px solid white;
}
.form-control{
    background-color: var(--bg-color);
}


/* bottom stripe with logo */
.black-logo{
    background-color: var(--bg-yellow);
    text-align: center;
}
.black-logo img{
    width: 60px;
    padding: 25px 0 15px 0;
}


/* copyright section */
.copyright p{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 15px;
    margin: 0;
}