:root{
    --bg-color: rgb(238, 238, 238);
    --bg-yellow: rgb(246, 203, 78);
    --light-text-col: rgb(238, 238, 238);
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: var(--bg-color);
  }

h1, h2, h3 , h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

/* Navigation bar */
.custom-nav{
    width: 100%;
    background-color: rgb(0, 0, 0) !important;
    height: 50px;
    padding: 16px 32px;
}
.custom-nav a{
    color: white !important;
}
.custom-nav .logo {
    text-transform: uppercase !important;
    letter-spacing: 2px;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}
.navbar-nav a{
    color: white !important;
    padding-left: 32px !important;
}
.navbar-brand img{
    width: 75px;
    padding: 15px;
}  

/* Hero section - Jumbotron */
.jumbotron{
    background-color: var(--bg-yellow);
    height: 650px;
    text-align: center;
    padding-top: 40px;
}
.jumbotron h1{
    font-size: 30px;
}
.jumbotron p{
    font-size: 16px;
}
.custom-button{
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: var(--bg-color);
    margin-top: 20px;
    color: black;
}
